/*Orden en que van los elementos:
1.- Pseudo-elementos
	Contienen atributos
2.- Etiquetas <etiqueta>
	Contienen atributos
3.- Identificadores
	Contienen atributos
4.- Clases
	Contienen atributos
5.- Elementos de responsive design
	(diseño adaptativo)
		Contienen atributos
Todos ellos en orden alfabético.
Tanto elementos como atributos.*/

body{
	/*atributo:valor;*/
	/*rojo-verde-azul*/
	/*background: #888888;*/
	/*background: rgba(255,0,0,0.1);*/
	background: white;
	border: 1px solid red;
	color: black;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;

}

header{
	border: 1px solid blue;
	text-align: center;
}

header img{
	/*height: 100px;*/
	float: right;
	margin: -70px 20px 0px 	0px;
	width: 90px;
}

header nav ul li{
/*	border: 1px solid tomato;*/
	background: blue;
	border-radius: 5px;
	color: white;
	display: inline-block;
	margin-right: 0px 10px 0px 0px;
	padding: 5px 10px;
	width: 84px;
}