
body{
	font-size: 16px; /*1em*/
	margin: 0 auto; /*centramos el body*/
	max-width: 1024px; /*empresa-cliente*/
}

header nav{
	background: orange;
	border-radius: 5px;
	padding: 0.03px 0px 0.03px 0px;
	

}

header nav ul li{
	
	color: white;
	display: inline-block;
	font-size: 1em;
	margin-right: 15px;

	
}

section #articulo01, #articulo02{
	display: inline-block;
	vertical-align: top;
	
}

#slide,#post{
	border-bottom: 1px solid gray;

	/*border: 1px solid red;*/
}

#articulo01{
	width: 63%;


}

#articulo01 article{
	margin-top: 15px;

}


#articulo02{
	
	width: 31%;

	/*border: 1px solid red;*/

}

#articulo02 article{

	margin-top: 25px;
	border-radius: 10px;
	/*background: gray;*/
	border: 1px  solid gray;

}

#post img{
	vertical-align: middle;
}

.info{
	border-radius: 5px;
	/*background: gray;*/
	border: 1px solid gray;

}

#post input[type="button"]{
	background: gray;
	color: white;
	border-radius: 5px;
	padding: 5px 3px 5px 3px;

}

#buscador input[type="search"]{

	border-radius: 15px;
	
	
}

#buscador input[type="button"]{
	background: gray;
	color: white;
	border-radius: 35px;
	
	
}

.encabezado{

	background: orange;
	border-radius: 5px;
	color: white;
	font-size: 1em;
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 2px 0px 2px 0px;
	
}

#publicidad img{
	display: inline-block;


}

.titulo{
	display: block;
	color: gray;
	font-size: 2em;
	font-weight: bold;
}