body{
	font-size: 16px; /*1em*/
	margin: 0 auto; /*centramos el body*/
	max-width: 1078px; /*empresa-cliente*/
	/*background: blue;*/
	
}

header{
	text-align: center;
}

header nav{
	display: block;
	text-align: right;
	background: #ECECEE;
	
}

header nav ul li{
	
	
	display: inline-block;
	vertical-align: bottom;

	

	/*text-decoration: underline;*/ 
}

#logo{

}

#articulo01{
	vertical-align: top;
	
	

}

#articulo01 article{
	margin-top: 20px;
}

#articulo0102 ul li{
	list-style: none;
}



#articulo0101 ul{
	margin-left: -35px;
	margin-top: -6px


}

#articulo0101{
	border: 1px solid darkblue;
	background: darkblue;
	color: white;
}

#articulo0101 ul li{
	list-style: none;
	font-size: 0.9em;
	margin-top: 2px;
	/*padding-top: 2px;*/
	
	
}

#articulo0102{
	border: 1px solid gray;
}

#articulo0102 ul li{
	margin-left: -30px;
	color: gray;
}

#articulo0102 ul li img{
	width: 98%;
	margin-left: -4px;
	
	
}

#progresslogo{
	vertical-align: middle;
	width: 10%;
	margin-left: 8px;
	/*margin-top: 3px;*/
}

#panelwith{
	/*color: white;*/
	/*margin-top: 3px;*/
	padding: 5px 0px 10px 0px;
	/*border: 2px solid red;*/
	display: block;
	background: darkblue;
	color: white;

}

#panel{
	/*margin: center;*/
	/*border: 1px solid red;*/

}

#articulo01,#articulo02{
	display: inline-block;
	/*border: 1px solid red;*/

	/*sirve?*/
}

#articulo01{
	width: 21.2%;
}

#articulo02{
	width: 65%;
}